.countdown {
    margin: 0 auto;
    border: 5px solid #0b5ed7;
    border-radius: 50%;
    padding: .5rem;
    margin-top: 1rem;
    position: relative;
    display: inline-block;
  }
  
  .button-main { 
    display: flex;
    align-items: center;

  }
  
  .countdown span {
      font-size: 40px;
      color: #0b5ed7;
      font-family: Arial;
  }
  .countdown.threshold span {
      color: red;
  }